html{
    scroll-behavior: smooth;
}

.game-pink{
    color:#ff1b7b;
}

.text-color2{
    color: rgb(173, 172, 172);
}

.gamebg{
    background-color: #ff1b7b;
}

.uniformpadding{
    padding: 40px 0;
}

.bg-wrapper{
    position: fixed;
    bottom: 0;
    right: 0;
    height: auto;
    width: auto;
    height: 100vh;
    min-width: 100%;
    z-index: -9999;
}

.bg-wrapper video{
    /* position: absolute;
    top: 0;
    left: 50%;
    transform: translateX(-50%); */
    width: 100%;
    height: 100%;
    object-fit: cover;
    /* z-index: -1;   */
}

.hero-section{
    height: 100vh;
    width: 100%;
    box-shadow: inset 0 -20px 20px -20px #ff1b7b, inset -20px 0 20px -20px #ff1b7b, inset 20px 0 20px -20px #ff1b7b,inset 1px 20px 20px -20px #ff1b7b;
}

nav{
    position: fixed;
    top: 0;
    right: 0;
    left: 0;
    padding: 16px 40px;
    z-index: 2;
}
.navBtn{
    padding: 8px;
    box-shadow: 0px 0px 13px #ff1b7b;
    font-weight: 900;
}
.bottom-section{
    position: fixed;
    bottom: 0;
    right: 0;
    left: 0;
    padding: 30px 40px;
}
.menu-page{
    height: 100vh;
    width: 100%;
    position: absolute;
    top: 0;
    bottom: 0;
    background-color: #0d0d0d;
    z-index: 1;
}
.menu-page .menu-logo img{
    height: 100px;
    object-fit: contain;
}
.menuItems a{
    font-size: 2rem;
}
.closeLogo{
    position: absolute;
    padding: 8px;
    border: 3px solid #ff1b7b;
    border-radius: 50%;
    top: 16px;
    left: 34px;
    z-index: 3;
}

.menu{
    border: 3px solid #ff1b7b;
    border-radius: 50%;
    box-shadow: 0px 0px 4px #ff1b7b;
}
.share, .down-arrow{
    border: 3px solid #ff1b7b;
    box-shadow: 0px 0px 4px #ff1b7b;
}
.hero-section .logo-section{
    height: 450px;
    width: 600px;
    margin: auto;
}
.hero-section .downloadBtn{
   border: none;
   padding: 8px 20px;
   font-size: 18px;
   font-weight: bold;
   color: white;
   text-transform: uppercase;
   box-shadow: 0px 0px 4px #ff1b7b;
}
.hero-section .redeemBtn:hover{
    border: 2px solid white;
    padding: 8px 24px;
    font-size: 18px;
    font-weight: bold;
    color: white;
    text-transform: uppercase;
    box-shadow: 0px 0px 4px #ff1b7b;
    background-color: #ff1b7b;
    transition: 350ms;
}
.hero-section .redeemBtn{
   border: 2px solid #ff1b7b;
   padding: 8px 24px;
   font-size: 18px;
   font-weight: bold;
   color: white;
   text-transform: uppercase;
   box-shadow: 0px 0px 4px #ff1b7b;
   background-color: rgba(0, 0, 0, 0.373);
   transition: 350ms;
}
.netflix{
    min-height: 100vh;
    width: 100%;
    background-color: black;
}

.netflix iframe{
    box-shadow: -1px -1px 9px 0px #ff1b7b;
}

.netflix-desc{
    max-width: 900px;
    margin: auto;
}
.netflix-win-die{
    max-width: 900px;
    margin: auto;
}

.netflix-win-die .games-img{
    max-width: 300px;
    margin: auto;
    height: 150px;
}
.netflix-win-die .games-img img{
    height: 100%;
    width: 100%;
    object-fit: contain;
}

@media screen and (max-width:768px) {

    nav{
        padding: 16px 24px;
    }

    .bottom-section{
        padding: 20px 24px;
    }

    .hero-section .logo-section {
        width: 100%;
    }
    .netflix iframe{
        height: auto;
        width: 100%;
        object-fit: cover;
    }
}